.home{
    position: absolute;
    width: 100%;
    background-color: rgb(95, 115, 126);
    min-height: 1000px;
}
.dataComponent{
    position: absolute;
    height: 100%;
    overflow: hidden;
    background-color: rgb(95, 115, 126);
    padding:0;
}
