.search{
    position:relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
input{
    margin-right:7.5px;
}
.result{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}